@use "../../scss/" as *;

.button {
   padding: 3px;
   width: 10rem;
   height: 3rem;
   background-color: $main-color;
   position: relative;
   color: $second-color;
   text-transform: uppercase;
   font-weight: bold;
   border-radius: 2px;
   cursor: pointer;

   &:hover {
      background-color: $second-color;
      color: $main-color;
      transition: background 0.5s ease;
   }
}
