@use "../../scss/" as *;

.gridItems {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-items: center;
   align-items: center;
   gap: 20px;
   flex-wrap: wrap;
}

.cards {
   @include flex(center, center);
   background-color: $card-color;

   width: 245px;
   height: 300px;
   border-radius: 10px;
   transition: background 0.5s;
   cursor: pointer;

   &:hover {
      background-color: $main-color;
      transform: scale(1.1);
      transition: all 0.5s;
   }

   img {
      width: 50px;
      height: 50px;
      object-fit: cover;
   }

   &__content {
      @include flex(center, space-between);
      flex-direction: column;

      p {
         color: $second-color;
         font-weight: bold;
         padding: 1rem;
      }
   }
}

.agents {
   width: 200px;
   height: 300px;
   background-color: #292929;
   position: relative;
   overflow: hidden;
   border: 2px solid $white;

   p {
      position: absolute;
      bottom: 0;
      font-size: 1.2rem;
      color: $txt-color;
   }

   .cards__content-img {
      position: relative;
      margin-top: 247px;

      img {
         max-width: 100%;
         transition: all 0.5s;
         transform: scale(4.2);
      }
   }

   &:hover {
      .cards__content-img {
         transition: opacity 0.5s;
         opacity: 0.1;
      }
   }

   &__img {
      position: absolute;
      top: 0;
      transform: scale(0);
      transition: all 0.8s;
      margin-top: 3rem;
   }

   &:hover {
      .agents__img {
         position: absolute;
         top: 0;
         transform: scale(1.8);
      }
   }
}

.sprays {
   .cards__content {
      width: 200px;
      height: 200px;

      p {
         display: none;
      }
   }
}
