@use "./scss/" as *;

html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

* {
   list-style-type: none;
   text-decoration: none;
   border: none;
   margin: 0;
   padding: 0;
}

a {
   color: $txt-color;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

body {
   max-width: 1440px;
   background-color: $bg2-color;
   color: black;
   font-family: $font-family;
}

.container {
   padding: 1rem 1.5rem;
}

.mgb-3 {
   margin-bottom: 3rem;
}
.mgb-2 {
   margin-bottom: 2rem;
}

.hidden {
   display: none;
   visibility: hidden;
}
