$body-bg: rgb(200, 196, 196);
$main-color: #ff4654;
$second-color: #0f1923;
$bg2-color: #2623239b;
$txt-color: #fff;
$card-color: rgb(215, 206, 206);
$white: #fff;
$black: #000;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
